/* style-repaso tip-calculator */

*{
    /* estas propriedades son fijas en todo css  */
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    /* es para que el border sea interno y no externo
    asi eliminamos el scroll osea el coso para ir arriva y abajo en la pantalla */
}


body{
    /* en el body la propriedad flex no lo hace funcionar al 100% 
    asi que lo vamos a poner en el main */

    font-family: "Space Mono", monospace;
    /* tipo de carattere */
    font-weight: bold;
    /* spessore texto */
    background-color: rgb(162, 220, 220);
}

  

/*  ponemos a los input y tambien a los button che usen la misma 
fuente de scrittura */
input, button {
    font-family: "Space Mono", monospace;
}


main{

    /* si como tenemos una sola section y no mas en este caso es posible tener un flex 
    xk no afecta en nada */
    display: flex;
    border: solid red ;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    /* 100vh es la altura de una pantalla completa */
    align-items: center; 
    /* centramos el elemento */
    gap:50px;
    /* espacio seria entre la imagen y el otro form */

}

form {
    /* border: solid; */
    display: flex;
    background-color:ghostwhite;
    padding: 40px;
    border-radius:16px;
    

}

    /* estamos viendo el video del 9.2.24 y aca nos quedamos en el video de la ora 3:09:00  */










