


*{
margin: 0;
padding: 0;
box-sizing: 0;
font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: cornflowerblue;

}

.box{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:aquamarine;
    overflow: hidden;
    border-radius: 20px;

}

.box::before{
    content:'';
    position: absolute;
    width: 180px;
    height: 140%;
    background-color: white; 
    box-shadow: 0 0 20px black;
    animation: animate 4s linear infinite;

}

.box::after{
    content:'';
    position: absolute;
    inset: 10px; /*tipo un offset dal elemento genitore sui 4 lati */
    background-color:#0e1538;
    border-radius: 16px;

}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }


}
