.hamburguesa-wrapper {
  position: relative;
  width: 40px;
  height: 40px;
  background: black;
  box-shadow: 0 0 5px #0ef, 0 0 10px #0ef, 0 0 15px #0ef, 0 0 30px #0ef;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
}

.hamburguesa-icon {
  position: relative;
  width: 25px;
  height: 30px;
  /* background:#0ef;
    /* creo un lugar donde moverme con absolut con .hamburguesa-icon dopo */
  margin: auto;
  display: flex;
  align-items: center;
  transform: rotate(0);
  transition: 1s;
}

.hamburguesa-wrapper.active .hamburguesa-icon {
  transform: rotate(315deg);
}

.hamburguesa-icon > span {
  position: absolute;
  display: block;
  height: 7px;
  background: linear-gradient(45deg, #0ef, black);
  border: 0.5px solid #0ef;
  border-radius: 4px;
  box-shadow: 0 0 5px #0ef, 0 0 10px #0ef;
  transition: 0.3s;
  transition-delay: 1s;
}

.hamburguesa-icon span:nth-child(1) {
  top: 0; /*arriva*/
  left: 0; /*sx*/
  width: 50%;
  transform: translateY(0);
}

.hamburguesa-wrapper.active span:nth-child(1) {
  width: 100%;
  transform: translateY(11px);
  transition-delay: 0s;
}

.hamburguesa-wrapper.active span:nth-child(3) {
  width: 100%;
}

.hamburguesa-icon span:nth-child(2) {
  width: 100%;
  transform: scaleX(1);
  /* scala 1*/
  opacity: 1;
  /* opacidad */
}

/*traemos de js active a css*/
.hamburguesa-wrapper.active span:nth-child(2) {
  transform: scaleX(0);
  /*scala 0 desaparece*/
  opacity: 0;
  transition-delay: 0s;
}

.hamburguesa-icon span:nth-child(3) {
  bottom: 0; /* abajo*/
  right: 0; /*dx*/
  width: 50%;
}

.hamburguesa-wrapper.active span:nth-child(3) {
  bottom: 12px;
  width: 100%;
  transform: rotate(90deg);
  transition-delay: 0s;
}

.hamburger-wrapper2.active{
  height: 450px;

}