
/* por defecto un navegador tiene gia un espacio predefinito creando uno scroll
lo que hacemos es sacarlo con " * "  el per significa todo */

/*  --- global * (todo) reset  ---  */
*{
    margin: 0;
    /* margin es el margen que hay entre elementos esterior */
    padding: 0;
    /* padding es el espacio interno entre cada elemento */
}





/* el css deve ser en cascada de la etiqueta mayor a la menor */

/* body es el padre afecta a todo */
body {
    background-color:rgb(57, 55, 55);
    /* color a todo el sfondo */
    color:white;
    /* color de todas las letras */
    font-family:Arial;
    /* la forma de caracter de las letras ecc... */
}


main{
    height: 100vh;
    /* altura en forma vertical de una pantalla entera */

    display: flex; 
    /* al displa:flex me permite activar mas propriedades como para centrar ecc... */
    align-items: center;
    /* centra de forma vertical */
    justify-content: center;
    /* centra de forma orizzontale */
}


div{
    background-color:rgba(110, 107, 107) ;
    /* color a todo el div donde se encuentra todo  h1 h2 p ul  (es un block entero) */
    width: 375px;
    /* ancho de la pantalla al div al ...% reducimos las dimensiones */
    padding:15px;
    /* padding es un espacio interno entre los elementos
    por ejemplo la foto toma espacio a los costados ecc... */
    text-align: center;
    /* esto centra todo mi texto y elementos  */
    border-radius:16px;
}

img {
    border-radius: 50%;
    
}


h1 {
    font-size: 24px;
    /* la grandezza de las letras*/
    margin-top: 20px;
    /* margin hacia arriva */
}


h2 {
    color: yellow;
    /* color de la letra */
    font-size: 14px;
    /* la grandezza de las letras*/
    margin-top: 10px;
    /* margin hacia arriva */

}

p{
    font-size: 14px;
    margin-top: 14px;
     /* margin hacia arriva */
    margin-bottom: 20px;
     /* margin hacia abajo */

}

ul{
    list-style: none;
    /* es para sacar los puntos de la lista de al costado */
}


/* se io vado sul elemento l'indicatore del mouse cambiera da freccia a mano sarebbe
 un dettaglio */
ul > li > a {
    text-decoration: none;
    /* esto le quita el sup-rallado de las letras (toglie il sottolineato)*/
    color: white;
    /* color del texto sea blanco */
    margin-top: 20px;
    /* entre cada li tenga un margen hacia arriva unos 20px */
    background-color: rgb(21, 19, 19);
    /* colore a lo sfondo di ogni li  */
    padding: 15px;
    /* spazio dentro li im modo che lo sfondo insieme alla lettere abbiano spazio tra di loro */
    border-radius: 18px;
    /* serve a mettere i bordi gli smussi arrotondati raggio */
    display:block;
    /* l´elemento a e inline dobbiamo trasformarlo in block */
}

/* el elemento a tiene un stilo llamado hover, en este caso para cambiar de efecto 
le metemos un color apenas entre el mouse dentro de a */
a:hover {
    /* ahora cada vez que valla con el mouse ad a se cambiara el sfondo y el color del texto */

    background-color: burlywood;
    /* colore dello sfondo */
    color:red;
    /* colore del testo */
}






