.container-wrapper {
    min-height: 30vh;
}

.wrapper {
  display: flex;
}

.wrapper .sec-texts {
  height: 32px;
  line-height: 32px;
  overflow: hidden;
}

.wrapper .first-text {
  font-size: 20px;
  color: white;
}

.sec-texts li {
  position: relative;
  top: 0;
  font-size: 20px;
  color: rgb(62, 142, 146);
  list-style: none;
  padding: 0 10px;
  text-shadow: 0 0 10px rgb(43, 118, 123);
  animation: slide 18s steps(6) infinite;
  /*step(6) xk son 6 span*/
}

@keyframes slide {
  100% {
    top: -190px;
  }
}

@keyframes colorful {
  100% {
    filter: (190deg);
    /*La hue-rotate()funzione applica una rotazione
       di colore agli elementi su cui viene applicata.*/
  }
}

.sec-texts li span {
  position: relative;
}

