*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans Regular";
    

body{
    
    background:bisque;
  
}
}

header{
    width: 100%;
    height: 80px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
   
}

.logo{ 
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.hamburger{
    display: none;
}

.nav-bar ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}

.nav-bar ul li a{
    display: block;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover{
    color:black; 
    background: white;
}

.nav-bar ul li a.active {
    color: black; 
    background: white;

}


@media only screen and (max-width:900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }
}

.nav-bar{
    height: 0;
    position: absolute;
    top:80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: black;
    transition: 0.5s;
    overflow:hidden;
}

/*traemos de js*/
.nav-bar.active {
    height: 450px;
}


.nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0  auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
}

.nav-bar.active ul {
    opacity: 1;
}

.nav-bar ul li a {
    margin-bottom: 12px;
    color:red;
}
