/* css reto1 profilo_2-repaso */

*{
    margin:0;
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:darkslateblue;
    color: white;

}

/* creo una class che se repite varias veces asi lo borro en css y lo meto en html */


.align-center {
    align-items: center;
}



nav{
    /* border: solid; */
    display: flex;
    /* pone todo en fila  */

    /* flex-direction: column; */
    /*  ser pone como estava antes*/

    justify-content: space-between;
    /* separa cada elemento con un ancho igual (width)
    de extremo a extremo */

    /* align-items: center; */
    /* hace la alineacion rispeto al contenido y no a los elementos
    asi centra todo dentro el contenedor */

    background-color: rgb(62, 28, 142);

    /* margin en los 4 lados  */
    /* margin-top:30px ;
    margin-bottom:30px ;
    margin-left:80px ;
    margin-right:80px ; */

    margin: 30px 80px;
    /* y(30px) x(80px) */
    padding:15px;
    border-radius: 16px;


}

.nav-list{

    /* border: solid red; */
    display: flex;
    /* pone todo en fila  */

    list-style: none;
    /* quitamos los puntos de la lista (ul) */
    gap:10px;
    /* permite de tener un espacio entre cada elemento che esta dentro del contenedor
    pero solo funciona si esta flex */

}

.nav-list > li > a {
    text-decoration: none;
    /* quita la el sub rallado */
    color:white;
    /* color del texto */
}

/* al seleczionar o pasando per elemento a se activa color aquamarine */
.nav-list > li > a:hover {
    color:aquamarine
}

main {
    /* border: solid red; */
    height: 50vh;
    /* altura  */
    display: flex;
    justify-content: space-between;
    /* separo de extremo a extremo */
    padding: 30px;
    align-items: center;
    /* alineo verticalmente en centro */
}

.gretting {
    /* border: solid; */
    /* en aca le pusimos span en html para que el border
     solo ocupe la escritura "saludos" */
     background-color: rgb(42, 23, 87);
     color:darkcyan;
     padding: 10px;
     border-radius: 16px;

}

.title {
    font-size: 52px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.description {
    /* border: solid; */
    font-size: 20px;
    color:darkkhaki ;
    font-weight:300 ;
    /* spessore del texto va de 0  a 900 (peso) */
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    gap:20px;
    /* align-items: center; */
}

.container-profile  > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.container-contact {
    /* border: solid; */
    display: flex;
    /* alinea de forma orizontale */
    flex-direction: column;
    /* se pone un elemento debajo de otro de forma vertical */
    gap: 20px;
    /* espacio entre las column */
    align-items: end;
    /* aca tenemos colum percio se usara align-items: end;
    asi va todo a la derecha  */

    /* regola: quando se invierten las reglas de flex las propriedades tambien
    se invierten  */

}

.container-contact > a {
    /* border: solid; */
    text-decoration: none;
    /* quitamos el sub-rallado */

}


/* a:first-child agarro solo el primer hijo osea la primera a que tenga */
.container-contact > a:first-child {
    /* border: solid ; */
    display: flex;
    /* align-items: center; */
    gap:5px;
}

/* a:last-child agarro la ultima a que tengo */
.container-contact > a:last-child {
    border: solid;
    display: flex;
    /* align-items: center; */
    gap:5px;
    padding: 5px;
    border-radius: 16px;
}



/* aca le metemos una hr en html con class="divider"
osea una linea creada  */
.divider{
    /* color de la linea con espesor 0.5 px  */
    border: solid 0.5px gold;

}


.container-about-me {
    /* este container -about-me contiene dos div
    usando display flex alineo los dos div de forma orizontal  */
    /* border: solid red; */
    display: flex;
    padding: 30px 80px;
    /* espacio entre los dos div  */
    justify-content: space-between;
    /* divide los dos div de extremo a extreno  en espacio iguales*/

}

.container-about-me > div > img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.container-about-me > div > h2 {
    font-size: 48px;
}

.mt-20{
    margin-top: 20px;
}

.mt-20 {
    margin-bottom: 20px;
}


.container-cards > div:nth-child(2) {
    background-color: rgb(32, 22, 78);
    border: none;
  }


.container-about-me > div > p {
    color: aquamarine;
}

.container-cards{
    /* border: solid red; */
    display: flex;
    /* alinea orizontal */
    justify-content: center;
    /* poner en el centro */
    gap: 70px;
    /* espacio entre los elementos  */
    margin-top: 40px;
    margin-bottom: 60px;

}

.container-cards > div {
    border: solid blue;
    border-radius: 16px;
    /* vemos el border de cada  div  */
    /* text-align: center; */
    /* centramos cada texto en el centro en cada div
    pero como vamos a poner align-items: center en este caso no es necesario */
    width: 246px;
    height: 200px;

    /* primero creamos la colunna */
    flex-direction: column;
    /* justify-content: center; */

    /* aca para usar las otras propriedades de alig... justy....
    tenemos que usar por fuerza flex */
    display: flex;

    /* segundo los alinbeamos al centro */
    align-items: center;
    /* aca tenemos colum percio se usara align-items: center ;
    asi va todo al centro  */

    /* tercero lo centramos al centro del border del div */
    justify-content: center;

}

.container-cards > div > p {
    font-weight: 600;
    /* spessore de la letra  */
    margin-top: 10px;

}

.container-cards > div > h5 {
    font-size: 32px;
    /* grandezza de las letras */

}

.container-summary {
    /* border: solid  red; */
    display: flex;
    /* ponemos de forma orizontal */
    justify-content: center;
    /* centramos el elemento en base al ancho*/
    gap: 70px;
    /* espacio entre elementos */
    background-color: rgb(32,22 ,78);
    /* ponemos uno sfondo  */
  

    /* width: 878px; */
    /* ancho dello sfondo */
    /* es un calculo de 246 div mas 70 gap son 3 en total asi sale 878 */

    width: 858px;
    /* seria 878 total de pixel - 20px de padding viene 858px */

   
    margin: auto;
    /* centramos lo sfondo de forma automatica */

    padding: 20px;
    /* padding es un espacio desde adentro hacia afuera */
    /* si uso el padding de 20px tendria che quitarle al width de 878px seria a 858px */

    margin-bottom: 60px;
    /* espacio hacia abajo */

    border-radius: 16px;
    color:blueviolet

}


/* primer hijo p del div p:first-child */
.container-summary > div > p:first-child {
    font-weight: 100;
    /* spessore letra */
    color:chartreuse
}

/* segundo hijo p del div p:last-child */
.container-summary > div > p:last-child {
    font-weight: bold;
    font-size: 32px;


}


.container-summary > div {
    /* border: solid yellow; */
    width: 246px;
    /* le ponemos un ancho del div  */
    text-align: center;
    /* centramos el texto dentro el div */
}
