


*{
margin: 0;
padding: 0;
box-sizing: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items:center ;
    min-height: 50vh;
}

ul{
    position:relative;
    /* gira las letras tipo 3d */
    transform: skewY(-15deg);
    
}

ul > li {
    position: relative;
    list-style: none;
    width: 150px;
    background-color: rgb(53, 56, 69);
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}

ul > li:hover {
    background:cornflowerblue;
    transform: translateX(-50px);
}


/* figlio immediato de li lateral sx */
ul > li::before{
    content:''; /* contenido vacio */
    position: absolute;
    top: 0;
    left: -40px; /* a lado sx sin dejar espacio*/
    width: 40px; 
    height: 100%;
    background:rgb(53, 56, 69);
    transform-origin: right; /*valore di offset*/
    transform: skewY(45deg);
    transition: 0.5s; /* aparece dopo pocos segundos */
}

ul > li:hover::before{
    background: cornflowerblue;
}

/* figlio immediato de li sopra */
ul > li::after{
    content:''; /* contenido vacio */
    position: absolute;
    top: -40px;
    left: 0; /* a lado sx sin dejar espacio*/
    width: 100%; 
    height: 40px;
    background:rgb(53, 56, 69);
    transform-origin:bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}
ul > li:hover::after{
    background: cornflowerblue;

}

ul > li > a {
    text-decoration: none;
    color:gray;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s; /* aparece dopo pocos segundos */
}
/* quando me acerco al texto hace efecto */
ul > li:hover > a {
    color:white;
}

ul > li:last-child::after{
    box-shadow: -120px 120px 20px rgba(0,0,0,0.25);
}
