header {
  width: 100%;
  height: 80px;
  animation: animatehover 5s linear infinite;
  position: fixed; /*posizione fissa*/
  z-index: 99;
  box-shadow: 0 0 10px black;
  background: rgba(0, 0, 0, 0.3);
}






