/* variables para cambiar desde aqui en todo el contenido */
:root {
  --theme-color: rgb(248, 235, 235);
  --primary-color: #114d86;
  --secunfary-color: #f9c232;
  --text-color-inverse: #f6f7f7;
  --text-color: #131111;
  --navbar-shallow-color: #a38888;
  --menu-mobile-background-color: #38435f;
}

* {
  box-sizing: border-box;
  /* hace respetar la misura que metamos */
  margin: 0;
  padding: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: var(--theme-color);
  color: var(--text-color);

  font-size: 1.2em;
  min-height: 100vh;
  padding: 0.625rem;
}
