/* css para reto1_Profilo-card */


*{
    margin: 0;
    padding: 0;
}


body{
    background-color:hsl(201, 82%, 74%);
}

main { 
    border: solid;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

}



.quadro {
    background-color: white;
    width: 400px;
    height: 500px;
    padding: 10px;
    text-align: center;
    border-radius: 6%;
}


.sfondo {
    border: solid;
}


.foto {
    border-radius: 50%;
}

h1 {
    /* border: solid; */
    font-size: 30px;
    margin-top : 20px;
    
}

.edad {
    /* border: solid; */
    font-size: 30px;
    color: darkgrey;
}


h2{
    /* border: solid;*/
    font-size: 20px;
    color: darkgray;
   margin-top: 20px;
   margin-bottom: 30px;
   
}


div > ul  {
    border: solid;
    display: flex;
    justify-content: space-between;
    
}


.numero{
    border: solid;
    font-size: 30px;
    color:black
}

p{
    /* border: solid; */
    font-size: 12px;
    color: darkgrey;
    padding: 8px;
    
}



.informacion {
    /* border: solid red; */
    display: flex;
    justify-content: space-between;
    /* separa cada elemento con un ancho igual (width) 
    de extremo a extremo */
    margin-top:60px;
    padding:25px;


}